/* helper classes */

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 200;
}

.subtitle {
  color: var(--color-light);
  font-style: italic;
  display: block;
}

.sans-serif {
  font-family: 'CorporateS' !important;
}

.serif {
  font-family: 'CorporateA' !important;
}

.justify-text {
  text-align: justify !important;
}

.fraktur {
  font-family: 'EskapadeFraktur' !important;
}

.inline {
  display: inline !important;
  list-style: none;
}

.inline li {
  display: inline !important;
  list-style: none;
}

.inline-list {
  display: 'flex';
  list-style: none;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.inline-list.center {
  text-align: center;
}

.inline-list .inline-item {
  flex: 0 1 auto;
  padding-right: 1rem;
}

.inline-list .inline-item:nth-child(1n + 1) {
  border-right: 1px solid var(--color-base);
}

.inline-list .inline-item:last-child {
  border-right: none;
}

.block {
  display: block !important;
}

.center-text {
  text-align: center !important;
}

.center-el-x {
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.center-el-xy {
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
