# htaccess
.htaccess

.idea/
.vscode/

# Logs
*.log
.husky
.lftprc

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# gatsby files
.cache
public

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
