{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "parser": "babel"
}
