{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 2
}